h1{
    color: blue;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;

}
p{
    color: aqua;
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    
}